:root {
	--header-height: 50px;
}

::selection {
	background-color: whitesmoke;
	color: #0B0F19;
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	padding: 0;
	margin: 0;
    background-color: #0B0F19;
    background-size: 150px 150px;
	background-image: linear-gradient(to right, #1F2937 1px, transparent 1px), linear-gradient(to bottom, #1F2937 1px, transparent 1px);
    display: flex;
    font-family: 'PPTelegraf', Arial, sans-serif;
}

.admin-header{
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    background-color: #151B2B;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #1F2937;
}

.admin-header .admin-header-top{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1F2937;
    width: 100%;
    height: 10%;
}

.admin-header .admin-header-top img{
    width: 50%;
}

.admin-header .admin-header-tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.admin-header .admin-header-tabs .admin-tab{
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: none;
    color: whitesmoke;
    font-size: 1.1rem;
}

.admin-header .admin-header-tabs .admin-tab.active{
    background-color: #17223F;
    color: #608cf3;
    border: #608cf3 1px solid;
}

.admin-header .admin-header-tabs .admin-tab:hover{
    background-color: #17223F;
    color: #608cf3;
    border: #608cf3 1px solid;
    cursor: pointer;
}

.admin-header .admin-header-bottom{
    border-top: 1px solid #1F2937;
    width: 100%;
    height: 5%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-header .admin-header-bottom a{
    color: #1F2937;
    border-radius: 10px;
    height: 70%;
    width: 90%;
    text-decoration: none;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.tab-content .admin-home,
.tab-content .admin-users{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50%; 
    justify-content: flex-start;
    gap: 50px;
}

.tab-content .admin-home .admin-home-text,
.tab-content .admin-users .admin-users-text{
    width:100%;
    padding-left: 50px;
    padding-top: 50px;
    color: white;
}

.tab-content .admin-home .admin-home-text h1,
.tab-content .admin-users .admin-users-text h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.tab-content .admin-home .admin-home-text .warning{
    background-color: rgba(249, 115, 22, .1);
    border: rgba(249, 115, 22, 1) 1px solid;
    border-radius: 15px;
    letter-spacing: 1px;
    padding: 10px;
    width: 50%;
    height: 30%;
    color: #D07A35;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-content .admin-home .admin-home-text p{
    font-weight: 100;
    margin: 0;
    margin-top: 10px;
}

.tab-content .admin-home .admin-home-cards,
.admin-users-content {
    color: white;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

.tab-content .admin-home .admin-home-cards .card{
    background-color: #151B2B;
    width: 20%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #1F2937;
    gap: 5px;
}

.tab-content .admin-home .admin-home-cards .card p{
    font-size: 3rem;
    margin: 0;
}

.tab-content .admin-home .admin-home-cards .card .date{
    font-size: 2rem;
}

.admin-table{
    background-color: white;
    color: black;
    width: 90%;
    border-radius: 25px;
    padding: 5px;
}

.admin-table thead tr th{
    text-align: center;
}

.admin-table tbody tr td{
    text-align: center;
}

.admin-table tbody tr .actions a{
    text-decoration: none;
    color: black;
}

