:root{
    --nav-height: 120px; 
}

::selection{
    background-color: whitesmoke;
    color: black;
}


html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'PPTelegraf';
}

.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: var(--nav-height);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
}

.nav-bar .nav-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 90%;
}

.nav-bar .nav-logo-container #nav-logo{
    pointer-events: none;
    width: 100%;
}

.nav-bar .nav-links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar .nav-links a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-bar .nav-links a:hover{
    color: grey;
    transition: .2s;
}

.nav-bar .nav-links .log-in{
    color: white;
    width: 100px;
    height: 30px;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    transition: .2s;
}

.nav-bar .nav-links .log-in:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.home-landing{
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--nav-height));
    min-width: 100%;
    box-sizing: border-box;
    margin-top: var(--nav-height);
    scroll-margin-top: var(--nav-height);
}

.home-landing .home-landing-main{
    width: 75%;
    flex: 1; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0; 
}

.home-landing .home-landing-main .main-left{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.home-landing .home-landing-main .main-left #vexor-white{
    pointer-events: none;
    width: 300px;
}

.home-landing .home-landing-main .main-left p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.1;
    width: 75%;
    font-weight: 100;
}

.home-landing .home-landing-main .main-left #discover-more{
    width: 35%;
    height: 50px;
    background: white;
    border: 2px solid white;
    color: black;
    border-radius: 10px;
    font-family: 'Jersey-20';
    font-size: 1.5rem;
}

.home-landing .home-landing-main .main-left #discover-more:hover{
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.home-landing .home-landing-main .main-right{
    position: relative;
    width: 400px;
    height: 400px;
}

.home-landing .home-landing-main .main-right img{
    position: absolute;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.home-landing .home-landing-main .main-right #globe-black {
    opacity: 0;
}

.home-landing .home-landing-main .main-right #globe-black:hover {
    opacity: 1;
}

.home-landing .home-landing-main .main-right #globe-white:hover {
    opacity: 0;
}

.home-landing .home-landing-partners{
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0; 
    margin-top: auto; 
}

.home-landing .home-landing-partners img{
    width: 75px;
    height: 75px;
    transition: 0.2s ease;
}

.home-landing .home-landing-partners img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.home-about-us{
    height: calc(100vh - var(--nav-height));
    width: 100%;
    background-size: 150px 150px;
    background-image: linear-gradient(to right, #dadada 1px, transparent 1px), linear-gradient(to bottom, #dadada 1px, transparent 1px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
    scroll-margin-top: var(--nav-height);
}

.home-about-us .corner-globe{
    width: 40%;
    position: absolute;
    right: -5%;
    animation: spin 120s linear infinite;
    z-index: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-about-us .about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    height: 90%;
    width: 75%;
    z-index: 2;
}

.home-about-us .about-us-container .about-us-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    font-size: 5rem;
    border-radius: 25px;
    color: black;
}

.home-about-us .about-us-container .about-us-title::selection{
    background-color: black;
    color: white;
}

.home-about-us .about-us-container .cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home-about-us .about-us-container .cards-container .card{
    color: white;
    background-color: rgba(31, 31, 31, .8);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 25px;
    overflow: hidden;
    transition: .2s all;
}

.home-about-us .about-us-container .cards-container .card:hover{
    transform: translateY(-10px);
}

.home-about-us .about-us-container .cards-container .card .card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 20%;
}

.home-about-us .about-us-container .cards-container .card .card-content{
    padding: 0px 50px 0px 50px;
    line-height: 175%;
    font-weight: 200;
    font-size: 1.2rem;
}

.home-about-us .gotoBottom{
    background-color: #111111;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .2s;
}

.home-about-us .gotoBottom:hover{
    background-color: white;
    color: #111111;
    border: #111111 solid 1px;
    transform: scale(1.1);
}

.home-statistics{
    height: calc(100vh - var(--nav-height));
    width: 100%;
    background-color: black;
    background-size: 150px 150px;
    background-image: linear-gradient(to right, #333333 1px, transparent 1px), linear-gradient(to bottom, #333333 1px, transparent 1px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
    scroll-margin-top: var(--nav-height);
}

.home-statistics .statistics-container{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    height: 90%;
    width: 75%;
}

.home-statistics .statistics-container .statistics-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20%;
    width: 100%;
    font-size: 5rem;
    border-radius: 25px;
}

.home-statistics .statistics-container .stat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home-statistics .statistics-container .stat-container .stat{
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 25px;
    overflow: hidden;
    transition: .2s all;
}

.home-statistics .statistics-container .stat-container .stat:hover{
    transform: translateY(-10px);
}

.home-statistics .statistics-container .stat-container .stat .stat-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 20%;
    text-align: center;
}

.home-statistics .statistics-container .stat-container .stat .stat-content{
    padding: 0px 50px 0px 50px;
    line-height: 175%;
    font-weight: 200;
    font-size: 1.2rem;
}


.home-statistics .statistics-container .stat-container .stat .stat-content ul{
    margin: 0;
    padding: 0;
}

.home-statistics .statistics-container .stat-container .stat .stat-title::selection,
.home-statistics .statistics-container .stat-container .stat .stat-content ul li::selection{
    background-color: black;
    color: white;
}

.home-statistics .gotoTop{
    background-color: white;
    border: none;
    border-radius: 50%;
    color: #111111;
    cursor: pointer;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .2s;
}

.home-statistics .gotoTop:hover{
    background-color: black;
    color: white;
    border: white solid 1px;
    transform: scale(1.1);
}

/* -------------------- DASHBOARD -------------------- */

.dashboard{
    height: calc(100vh - var(--nav-height));
    margin-top: var(--nav-height);
    width: 100%;
    background-color: black;
    background-size: 150px 150px;
    background-image: linear-gradient(to right, #333333 1px, transparent 1px), linear-gradient(to bottom, #333333 1px, transparent 1px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    scroll-margin-top: var(--nav-height);
    gap: 5%;
}

.dashboard .dashboard-overview{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    padding-top: 20px;
}

.dashboard .dashboard-overview .dashboard-overview-item{
    background-color: rgba(34, 34, 34, .9);
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    border-radius: 15px;
    color: white;
    padding: 15px;
    overflow: hidden;
    transition: all .2s;
}

.dashboard .dashboard-overview .dashboard-overview-item:hover{
    background-color: rgba(34, 34, 34, 1);
}

.dashboard .dashboard-overview .dashboard-overview-item .overview-item-content{
    font-size: 2.5rem;
    font-weight: bold;
}

.dashboard .dashboard-overview .dashboard-overview-item .green{
    color: green;
}

.dashboard .dashboard-overview .dashboard-overview-item .red{
    color: red;
}

.dashboard .dashboard-overview .dashboard-overview-item .yellow{
    color: yellow;
}

.dashboard .dashboard-cve-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.dashboard .dashboard-cve-container .cve-table-container{
    width: 60%;
    max-height: 60%;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 25px;
}

.dashboard .dashboard-cve-container .cve-table-container .table-head{
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-evenly;
    padding-left: 5%;
    position: sticky;
    top: 0;
    background-color: white;
}

.dashboard .dashboard-cve-container .cve-table-container .table-head h1{
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
}

.dashboard .dashboard-cve-container .cve-table-container .table-head input{
    width: 25%;
    height: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.dashboard .dashboard-cve-container .cve-table-container .table-head input:focus{
    outline: none;
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: white;
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table th{
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    position: sticky;
    top: 125px;
    background-color: white;
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table tr{
    height: 35px;
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table tr:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table td{
    font-weight: 400;
}

.dashboard .dashboard-cve-container .cve-table-container .cve-table th,
.dashboard .dashboard-cve-container .cve-table-container .cve-table td{
    border-bottom: solid black 1px;
    text-align: left;
    padding-left: 10px;
}

.dashboard .dashboard-cve-container .cve-table-container .table-head h1::selection,
.dashboard .dashboard-cve-container .cve-table-container .table-head input::selection,
.dashboard .dashboard-cve-container .cve-table-container .cve-table td::selection{
    background-color: black;
    color: white;
}

.dashboard .dashboard-cve-container .cve-description-container{
    background-color: rgba(34, 34, 34, .9);
    color: white;
    width: 30%;
    border-radius: 25px;
    height: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.dashboard .dashboard-cve-container .cve-description-container h1{
    font-weight: 500;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.dashboard .dashboard-cve-container .cve-description-container .short-description{
    display: flex;
    justify-content: space-between;
}

.dashboard .dashboard-cve-container .cve-description-container .short-description h2{
    font-weight: 100;
    margin: 0;
}

.dashboard .dashboard-cve-container .cve-description-container p{
    font-weight: 200;
    line-height: 150%;
    font-size: 1.2rem;
    text-align: justify;
}