body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'PPTelegraf';
}

.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 12%;
    align-items: center;
    position: fixed;    /* qendron ne maje te faqes */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
}

.nav-bar .nav-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 90%;
}

.nav-bar .nav-logo-container #nav-logo{
    pointer-events: none;   /* ndalon ruajtjen e fotografise */
    width: 100%;
}

.nav-bar .nav-links{
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.nav-bar .nav-links a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-bar .nav-links a:hover{
    color: grey;
    transition: .2s;
}

.home-landing{
    background-image: url(images/background.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    gap: 7.5%;
}

.home-landing .home-landing-main{
    width: 75%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-landing .home-landing-main .main-left{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.home-landing .home-landing-main .main-left #vexor-white{
    pointer-events: none;
    width: 300px;
}

.home-landing .home-landing-main .main-left p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.1;
    width: 75%;
    font-weight: 100;
}

.home-landing .home-landing-main .main-left #discover-more{
    width: 35%;
    height: 50px;
    background: white;
    border: 2px solid white;
    color: black;
    border-radius: 10px;
    font-family: 'Jersey-20';
    font-size: 1.5rem;
}

.home-landing .home-landing-main .main-left #discover-more:hover{
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.home-landing .home-landing-main .main-right{
    position: relative;
    width: 400px;
    height: 400px;
}

.home-landing .home-landing-main .main-right img{
    position: absolute; /* stacked  */
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.home-landing .home-landing-main .main-right #globe-black {
    opacity: 0;
}

.home-landing .home-landing-main .main-right #globe-black:hover {
    opacity: 1;
}

.home-landing .home-landing-main .main-right #globe-white:hover {
    opacity: 0;
}

.home-landing .home-landing-partners{
    background-color: whitesmoke;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-landing .home-landing-partners img{
    width: 75px;
    height: 75px;
    transition: 0.2s ease;
}

.home-landing .home-landing-partners img:hover{
    transform: scale(1.1);
    cursor: pointer;
}